/* @override http://fabricofourlives.local.thismoment.com/css/style.css?cb=02109 */

/* changetest reset.css reloaded - eric meyer - http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;}:focus{outline: 0;}body{line-height: 1;color: black;background: white;}ol,ul{list-style: none;}table{border-collapse: separate;border-spacing: 0;}caption,th,td{text-align: left;font-weight: normal;}

/* fonts.css - yui - http://developer.yahoo.com/yui/fonts/ */
body {
    background-color:#a79c88;
    background-image: url(background_3-20.jpg);
    background-repeat:no-repeat;
    background-position:top center;
	min-height:1393px;
    font:13px/1.231 "Lucida Grande",arial,clean,sans-serif;
}
table {font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;line-height:100%;}
body.unicode {font-family:arial, sans-serif;}

#emmy_modules { display:inline; margin-left: 20px; width:960px; }

#emmy_modules .module_wrap , #camilla_modules .module_wrap { width: 300px; height: 240px; margin-top: 15px;margin-right:15px; display: inline-block; }
#emmy_modules .module_wrap a, #camilla_modules .module_wrap a { display: inline-block; width: 100%; height: 100%; }

#emmy_modules .module_wrap._1 a { background-image: url('Emmy_mod_1_60.jpg'); }
#emmy_modules .module_wrap._2 a { background-image: url('Emmy_mod_2_60.jpg'); }
#emmy_modules .module_wrap._3 a { background-image: url('Emmy_mod_3_60.jpg'); }

#camilla_modules {margin-left: 20px; width:960px; display:none; }

#camilla_modules .module_wrap._1 a { background-image: url('Camilla_mod_1_60.jpg'); }
#camilla_modules .module_wrap._2 a { background-image: url('Camilla_mod_2_60.jpg'); }
#camilla_modules .module_wrap._3 a { background-image: url('Camilla_mod_3_60.jpg'); }

.vembed iframe { border: 6px solid #fff; }

#streampost .posting_as_id { display: none; }

a {color:#a1696d; text-decoration:none;}
a:hover {text-decoration:none; color:#6f4245;}
.cb {clear:both;}
.cb a {color:#999; font-size:11px; display:block; text-align:right; padding:5px 20px;}
.cb a:hover {color:#c33;}
#upper {width:960px;margin:0 auto; position:relative;}
#lower { width:944px; margin:0 auto;clear:left; }
#container {width:956px;margin:0 auto; padding-top:6px;position:relative;padding-bottom:10px;}
.logout {text-align:center; font-size:11px;}
.logout a {color:#999;}

.spt,
.kst {background-image:url('sprite.png'); background-repeat:no-repeat; background-color:transparent;}

h3,
h4,
.cme,
.subnav li a {font-family:"Lucida Grande", arial, sans-serif;}
.unicode h3,
.unicode h4,
.unicode .cme,
.unicode .header .subtext {font-family: arial, sans-serif;}
.unicode .subnav li a {font-family: arial, sans-serif;}
.unicode #countdown .clock {font-family:arial, sans-serif;}

.jspContainer {overflow:hidden; position:relative;}
.jspPane {position:absolute;}
.jspVerticalBar {position:absolute; top:0; right:0; width:13px; height:100%; background:transparent;}
.jspHorizontalBar {position:absolute; bottom:0; left:0; width:100%; height:13px; background:transparent;}
.jspVerticalBar *,
.jspHorizontalBar * {margin:0; padding:0;}
.jspCap {display:none;}
.jspHorizontalBar .jspCap {float:left;}
.jspTrack {
	position:relative; 
	background-image:url('sprite.png');
	background-position: -455px 0;
}
.jspDrag {
	position:relative;
	top:0;
	left:0;
	width:  10px;
	height: 92px;
	background-image:url('sprite.png');
	background-position: -415px 0;
	cursor:pointer;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {float:left; height:100%;}
.jspArrow {background:#50506d; text-indent:-20000px; display:block; cursor:pointer;}
.jspArrow.jspDisabled {cursor:default; background:#80808d;}
.jspVerticalBar .jspArrow {height:16px;}
.jspHorizontalBar .jspArrow {width:16px; float:left; height:100%;}
.jspVerticalBar .jspArrow:focus {outline:none;}
.jspCorner {background:#eeeef4; float:left; height:100%;}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {margin:0 -3px 0 0;}

.header {overflow:hidden; padding:0; width:100%;}
.header .wp {position:relative; height:120px; width:100%;}
.header .skits {position:absolute; margin-top:-15px; right:0px;}
.header .skitstw {position:absolute; margin-top:25px; right:0px;}
.header .subtext {color:#babcbd; font-family:"Times New Roman", serif; font-size:18px; display:block; position:absolute; width:300px; text-align:center; top:173px; right:65px;}
.unicode .header .subtext {font-family: Arial, sans-serif;}
.header .logo {display:block; width:401px; height:50px; position:absolute; top:40px; right:518px;}
.header .logo3 {display: block; width: 140px; height: 15px; position: absolute; top: 53px; right: 51px; z-index: 1;}
.header .logo2 {display: block; width: 140px; height: 15px; position: absolute; top: 80px; right: 51px; z-index: 1;}

.header .social { float:left; margin-right: 30px; margin-top: 54px; width:auto; }
.header .social span {display:block; float:left; margin-right: 8px; font-size:11px; font-weight:normal; font-family:"lucida grande", tahoma, sans-serif; color:#757068; line-height:14px; text-align:left;}
.header .social a {position:absolute; display:block; top:54px; width:16px; height:17px; overflow:hidden; line-height:14px; float:left; text-indent:-5000px;}
.header .social .fb {background-position: 0 -526px; right: 175px;}
.header .social .tw {background-position: -20px -526px; right: 175px; text-align:left;	}
.header .topshare {float:left; margin-right:10px;}
.header .topshare span {display:block; float:left; margin-right:5px; font-size:10px; font-weight:bold; font-family:"lucida grande", tahoma, sans-serif; color:#92b0af; line-height:14px;}
.header .topshare a {display:block; width:14px; line-height:14px; overflow:hidden; height:14px; margin-right:5px; float:left; text-indent:-5000px;}
.header .topshare a.my {background-position:-32px -0px;}
.header .topshare a.fb {background-position:-0px -0px;}
.header .topshare a.tw {background-position:-16px -0px;}
.header .topshare a.go {background-position:-112px -0px;}
.header .topshare a.di {background-position:-96px -0px;}
.header .topshare a.de {background-position:-48px -0px;}
.header .topshare a.my:hover {background-position:-32px -15px;}
.header .topshare a.fb:hover {background-position:-0px -15px;}
.header .topshare a.tw:hover {background-position:-16px -15px;}
.header .topshare a.go:hover {background-position:-112px -15px;}
.header .topshare a.di:hover {background-position:-96px -15px;}
.header .topshare a.de:hover {background-position:-48px -15px;}

.footer .wp {position:relative; top:0; left:0; height:10px; width:100%;}

#regionswap {z-index:3; position:absolute; top:10px; right:20px; font-size:11px; line-height:20px;}
#regionswap .current {color:#ccc; font-weight:bold; display:block; float:left; padding-right:2px;}
#regionswap .globe {display:block; width:29px; height:16px; background-position:-10px -32px; float:left;}
#regionswap:hover .current {color:#fff;}
#regionswap:hover .globe {background-position:-10px -48px;}

/* remove when ready to unveil globalized sites */
/*#regionswap {display:none;} */

#regionswapper {z-index:5; display:none; position:absolute; top:30px; right:20px; width:auto; height:auto; overflow:hidden;}
#regionswapper .back {z-index:6; position:absolute; top:0; left:0; width:100%; height:600px; background:#333; opacity:0.8;}
#regionswapper ul {z-index:8; float:left; position:relative; padding:5px;}
#regionswapper li {float:left; position:relative; padding:5px; width:120px; clear:left; font-size:11px; font-weight:bold;}
#regionswapper a {color:#aaa;}
#regionswapper a:hover {color:#fff; text-decoration:underline;}
#regionswapper a.cur {color:#ddd;}

/* rail modules */
.widget {margin:0 auto 16px; width:300px; color:#aca186; background:#f2f2f2; border:1px solid #e3e3e3; -moz-border-radius:4px; border-radius:4px; overflow:hidden; min-height:50px; position:relative;}
.widget .wrap {overflow:hidden; padding:10px; margin:8px; background:#fff; position:relative; top:0; left:0; display:block;}
.widget h3 {margin:0 0 10px 0; text-align:center; color:#333; font-weight:normal; font-size:20px; line-height:30px;}
.widget img.lf {float:left; margin:0 10px 5px 0; max-width:96%; position:relative; display:block;}
.widget p {padding:0 5px 10px 0; clear:none; font-family:arial, sans-serif; font-size:11px; color:#666;}
.widget .cta {color:#fb7000;}

.widget .walls {padding-bottom:5px; float:left; position:relative; width:100%;}
.widget .walls li.thumb {float:left; position:relative; width:95px; height:65px; display:block; background:transparent; overflow:hidden; margin:0;}
.widget .walls .trigger {width:90px; height:60px; display:block; background:transparent; border:0;}
.widget .walls .trigger img {margin:0; width:90px; height:60px; background:transparent; border-right:4px solid #011418; border-bottom:2px solid #011418;}
.widget .walls .overlay {display:none; position:absolute; top:0; left:0; width:92px; height:65px; background:#000;}
.widget .walls .overlay a {display:block; text-align:center; font-size:10px; line-height:15px; color:#fff; font-weight:bold;}
.widget .walls .overlay a:hover {text-decoration:underline;}
.widget .walls .overlay a.one {margin-top:6px;}

#countdown {padding-bottom:10px;}
#countdown .clock {font-family:'Times New Roman', serif; color:#fefeff; background:url('http://cfi.thismoment.com/other/1288392925-760.png') no-repeat 0 0; width:279px; height:100px;}
#countdown .clock td {text-align:center; font-size:14px; text-transform:uppercase; line-height:30px; vertical-align:middle;}
#countdown .clock td.fs {width:72px; padding-left:4px;}
#countdown .clock td.ls {width:66px; padding-right:4px;}
#countdown .clock td.hr {width:65px;}
#countdown .clock span {font-size:30px; font-weight:normal; line-height:69px;}

.subscribe img.thumb {float:left; max-width:50px; max-height:50px; margin:0 10px 0 0; border:1px solid #383e40;}
.subscribe .wrap {padding:10px;}
.widget a.subscribebtn {font-size:11px; font-weight:bold; color:#333; line-height:23px; -moz-border-radius:4px; border-radius:4px; border:1px solid #f0c800; display:block; float:left; background:url('http://cfi.thismoment.com/images/dec/hpt-btn-yellow.gif') repeat-x 0 0; height:23px; padding:0 5px;}
.widget a.subscribebtn:hover {color:#000; background:#FFF089;}

#theater {text-align:center; padding:0; height:660px; position:relative; clear:left;}
#theater object {margin:0 auto; display:block;}
#theater div#membed {height:450px; background:#000;}
#noflash {color:#999; font-weight:bold; padding:10px;}

#container .box {padding:10px; display:none; height:400px;}
#container .box h2 {text-align:center; font-size:36px; font-weight:bold; color:#000; margin:20px 0 10px 0;}
#container .box b {display:block; text-align:center; color:#929391;}
#container #error .box {display:block; background:#ecede7; border:1px solid #cbcac6; height:400px; margin:10px;}
#container #error .box h2 {line-height:32px; letter-spacing:-1px;}
#error a.btc {position:relative; background:#fff; border:1px solid #cbcac6; display:block; margin:10px auto; width:300px; font-size:18px; font-weight:bold; text-align:center; line-height:50px; height:50px;}
#error a.btc:hover {background:#fbfbfa; border:1px solid #68b268; color:#000; text-decoration:none;}

#streampost .step1_signin_cta { display: none; }
#streampost img.avatar { display: none; }

ul.columns {padding:0;}
ul.columns li.col {width:960px; display:block; vertical-align:top; float:left; margin-top: 77px;}
ul.columns li.rc {width:980px; display:block; border:0; float:left; margin:50px 0 0 -10px;}
ul.columns li.cb {height:1px; overflow:hidden;}
ul.columns .ui-button {margin-top:10px;}
ul.columns .mbox {margin-bottom:10px; padding-bottom:10px;}
#streams .streamhead {margin:0 0 10px; padding:0 0 5px; display:none;}
#streams h3 {color:#6E7A7C; font-size:24px; font-weight:normal; display:none; line-height:24px; margin:0; text-transform:uppercase;}
#streams .howto {text-transform:none; font-size:10px; color:#6E7A7C;}
#streams .sub {width:160px; height:18px; text-indent:-5000px; display:block; background-position:0 -240px;}
#streams .subnav {float:left; width:600px; margin:5px 0 10px 0;}
.subnav li.one {margin-left:30px;}
.subnav li { float:left; margin:10px 0px 0px 5px; padding:0 12px; text-align:center;}
.subnav li a {
	display:block;
	float:left;
	height:30px;
	margin:0 4px 0 0;
	background-image: url('sprite.png');
	text-indent: -5000px;
}
.subnav li:nth-child(1) a {
	width: 170px;
	height: 21px;
	background-position: -115px -451px;
}
.subnav li:nth-child(2) a {
	width: 70px;
	height: 22px;
	background-position: -318px -451px;
}
.subnav li:nth-child(3) a {
	width: 36px;
	height: 23px;
	background-position: -318px -451px;
}
.subnav li:nth-child(1).on a, .subnav li:nth-child(1):hover a { background-position: -115px -476px; }
.subnav li:nth-child(2).on a, .subnav li:nth-child(2):hover a { background-position: -318px -476px; }
.subnav li:nth-child(3).on a, .subnav li:nth-child(3):hover a { background-position: -318px -476px; }


.subnav li a:hover,
.subnav li.on {}
.subnav li i.spt {display:none;}

.aboutapp { color: #ccc; font-size:12px; float:left; display:block; margin: 0 15px;}

.togbox {clear:left; padding:0 10px 0 20px; position:relative;}

#tweetbox {overflow:auto; position:relative; height: 570px; width:98%; color:#666;}
#tweetbox .loading {display:block; margin:50px auto;}

#tweetbox .tweetfeed .source_41 .post-date { display: block; font-size:  10px; color: #999; }
#tweetbox .tweetfeed .source_41 .post-title { display: block; font-size:  14px; font-weight: bold;}


#streamload {display:none; clear:both; padding:2px; text-align:center;}

li.s-item {border-bottom:0; padding:10px 0; float:left; width:95%; overflow:hidden; position:relative;}
li.s-item .avatar {width:48px; height:48px; position:absolute; top:10px; left:0px;}
li.s-item .thumb {float:left; max-height:72px; max-width:72px; margin:5px 10px 5px 0;}
li.s-item .wrap {margin:0 0 5px 60px; line-height:18px; color:#333;}
li.s-item span.created {color:#666; font-size:11px; display:block; float:left;}
li.s-item .cl {clear:left;}
li.s-item .title {font-weight:bold; color:#a1696d;}
li.s-item .title:hover {color:#6f4245;}
li.s-item .icon {display:block; float:left; width:14px; height:14px; margin:2px 4px 0 0; background-position:50px 50px;}
li.s-item .icon_1 {background-position:-64px -0px;}
li.s-item .icon_3 {background-position:-0px -0px;}
li.s-item .icon_11 {background-position:-16px -0px;}
li.s-item .icon_5 {background-position:-32px -0px;}
li.s-item .meta {font-size:12px; color:#000; display:block;}
li.s-item .meta_name {color:#000; display:block; font-weight:bold;}
li.s-item .meta_href {display:block;}
li.s-item .acts {display:block; float:left; padding-left:20px;}
li.s-item .addcomment,
li.s-item .retweet {display:block; float:left; font-size:11px; color:#fb7000;}
li.s-item .addcomment:hover,
li.s-item .retweet:hover {background-position:-46px -200px; color:#333;}
li.s-item .deletestreampost {font-size:11px; display:block; float:left;}
li.s-item .act {font-size:11px; display:block; float:left; margin-left:2px;}
li.s-item .delete {display:block; float:right; padding:2px; font-size:10px; font-weight:normal;}
li.s-item .morecomments {background:#fee9d9; padding:5px; font-size:11px; clear:left; margin:5px 0;}
li.s-item .morecomments a {color:#036;}
li.s-item .morecomments i {display:block; float:left; width:14px; height:12px; background:transparent; margin:0;}
li.s-item ul.coms {clear:left; display:block; margin-top:5px;}
li.s-item li.com {font-size:11px; margin-bottom:5px; padding:5px 10px; background:#fee9d9;}
li.s-item li.com .user {color:#999; margin:0 0 0 5px; font-weight:bold;}
li.s-item li.com .user a {color:#036;}
li.s-item li.com .user img {width:30px; height:30px; float:left; margin:0 15px 5px 0; background:#fff;}
li.s-item li.com .text {margin:0 0 0 45px; line-height:15px;}
li.s-item li.com .time {display:block; margin:0 0 0 50px; color:#666;font-size:11px;}

/* stream post form */
#streampost {margin: 28px 20px 0; top:0; overflow:hidden; clear:both; position:relative;
	padding: 0 8px;
}
#streampost .entry {width:100%; height: 47px; position:relative; top:0; left:0;}
#streampost h5 {color:#666; font-weight:bold; margin:5p0;}
#streampost textarea {
	display:block;
	font-family:"Lucida Grande",sans-serif;
	font-size:13px;
	float:left;
	width: 440px;
	height:17px;
	border:1px solid #acacac;
	color:#999;
	padding:6px 8px 6px 8px;
	margin-top: 6px;
	margin-right: 6px;
}
#stream_save {
	display:block;
	float:left;
	width:98px;
	height:41px;
	margin:0 0 0 5px;
	background-image: url('sprite.png');
	background-position: -350px -526px;
	text-indent: -5000px;
}
#streampost .also {font-size:11px; color:#ccc; clear:left; padding:10px 5px;}
#streampost .ma {width:420px; margin: 0 0 0 10px;}
#streampost .nolink {width:100%; display:none;}
#streampost .nolink b {font-size:11px; color:#666; font-weight:normal; display:block; clear:both; padding:6px 10px 0;}
#streampost a.btc {display:inline-block; width:90px; font-size:10px; line-height:25px; height:25px; background:#fff; margin:2px 5px 2px 0; -moz-border-radius:4px; border-radius:4px; border:1px solid #999;}
#streampost a.btc span.kst {display:block; text-indent:-5000px; width:80px; font-size:10px; line-height:19px; height:19px; margin:3px auto; font-size:4px;}
#streampost a.btc span.yt {background-position:-0px -162px; width:51px;}
#streampost a.btc span.tw {background-position:-0px -121px; width:59px;}
#streampost a.btc span.fb {background-position:-0px -82px; width:44px;}
#streampost a.btc span.my {background-position:-0px -202px; width:65px;}
#streampost a.btc:hover span.yt {background-position:-0px -181px;}
#streampost a.btc:hover span.tw {background-position:-0px -139px;}
#streampost a.btc:hover span.fb {background-position:-0px -101px;}
#streampost a.btc:hover span.my {background-position:-0px -222px;}
#streampost a.btc i {display:none;}
#streampost a.disabled span.yt,
#streampost a.disabled span.tw,
#streampost a.disabled span.fb,
#streampost a.disabled span.my {background-position:-5000px -5000px;}
#streampost a.change_user_btn { display: none; }
#streampost a.user_logout_btn { display: none; }

/* stream comment form */
#cform {background:#fcfcfc; padding:10px; position:absolute; left:-5000px; top:0; overflow:hidden; clear:both;}
#cform h5 {color:#666; font-weight:bold; margin:10px 0;}
#cform .ma {width:auto; margin:0 auto; text-align:center;}
#cform .nolink {height:80px;}
#cform .islink {display:none; height:80px;}
#cform.linked .islink {display:block;}
#cform.linked .nolink {display:none;}
#cform a.btc {display:inline-block; width:90px; font-size:10px; line-height:25px; height:25px; background:#fff; margin:2px 5px 2px 0; -moz-border-radius:4px; border-radius:4px; border:1px solid #999;}
#cform a.btc span.kst {display:block; text-indent:-5000px; width:80px; font-size:10px; line-height:19px; height:19px; margin:3px auto; font-size:4px;}
#cform a.btc span.yt {background-position:-0px -162px; width:51px;}
#cform a.btc span.tw {background-position:-0px -121px; width:59px;}
#cform a.btc span.fb {background-position:-0px -82px; width:44px;}
#cform a.btc span.my {background-position:-0px -202px; width:65px;}
#cform a.btc:hover span.yt {background-position:-0px -181px;}
#cform a.btc:hover span.tw {background-position:-0px -139px;}
#cform a.btc:hover span.fb {background-position:-0px -101px;}
#cform a.btc:hover span.my {background-position:-0px -222px;}
#cform a.btc i {display:none;}
#cform a.disabled span.yt,
#cform a.disabled span.tw,
#cform a.disabled span.fb,
#cform a.disabled span.my {background-position:-5000px -5000px;}
#cform textarea {width:96%; height:45px; border:1px solid #ababab; font-family:arial, helvetica, sans-serif; color:#333; padding:4px;}
#comment_save {background:#fb7000; text-align:center; clear:left; display:block; font-weight:bold; font-size:11px; color:#fff; display:block; width:103px; line-height:20px; height:22px; float:left;}
#comment_cancel {background:#8e928c; text-align:center; clear:left; display:block; font-weight:bold; font-size:11px; color:#fff; display:block; width:103px; line-height:20px; height:22px; float:left;}
#comment_save:hover,
#comment_cancel:hover {text-decoration:none;}

/* video lightbox */
#playbox {position:fixed; background:#000; border:3px solid #333; padding:25px; z-index:2;}
#playbox .close {position:absolute; top:5px; right:5px; padding:3px 5px; display:block; text-align:center; font-weight:bold; background:#666; border:1px solid #333; color:#fff;}
#playbox .close:hover {background:#454545; border:1px solid #222;}
#playbox object,
#playbox embed {z-index:2;}

/* BORDERED - style that stephen seems to be using everywhere */
a.bordered, span.bordered, img.bordered { display: inline-block; padding: 1px; background-color: #fff; border:1px solid #DDDDDD;}
a.bordered span, span.bordered span { display: block; background: center no-repeat; width: 50px; height: 50px; }
a.bordered img, span.bordered img { display: block; }
a.bordered.avatar img, span.bordered.avatar img { width: 50px; height: 50px; }

/* header bars */
h3.kst {text-indent:-5000px; display:block; height:41px; width:100%;}
#streams h3.kst {background-position:0 0;}
#mod-plug h3.kst {background-position:0 -82px;}
#mod-tri h3.kst {background-position:0 -124px;}
#mod-upcoming h3.kst {background-position:0 -165px;}
#mod-cool h3.kst {background-position:0 -206px;}
#mod-links h3.kst {background-position:0 -247px;}

#theater.html { text-align:center; padding:37px 0 0 0; height: 625px; position:relative; clear:left; color:#fff; margin-top: 35px; }
#theater.html object {margin:0 auto; display:block;}
#theater.html .loads {padding:120px 0;} 
.html #embwrap {position:relative;}
.html #mainbox {margin:0 auto; width:100%; height:445px; overflow:hidden; position:relative;}
.html #ulslide {position:absolute; top:0; left:0; width:3000px; height:430px;}
.html .ulslide {position:absolute; top:0; left:0; width:3000px; height: 436px; display:none;}
.html .slideon {display:block;}
.html #slidepad {position:absolute; z-index:10; top:0px; left:80px; width:800px; height:360px;}
.html #embwrap .arrs {text-indent:-5000px; display:block; width:27px; position:absolute; top:155px; height:68px; z-index:10; background-position:0 -248px;}
.html #embwrap .tharrs {text-indent:-5000px; display:block; width:29px; position:absolute; top: 548px; height:29px; z-index:10; background-position:0 -248px;}
.html #embwrap .disabled {display:none;}
.html #embwrap .left { display: none; }
.html #embwrap .lef {right: 14px; background-position: -316px -526px;}
.html #embwrap .lef:hover {background-position:-316px -555px;}
.html #embwrap .right { display:none; }
.html #embwrap .rit {left: 17px; background-position: -287px -526px; }
.html #embwrap .rit:hover {background-position:-287px -555px;}
.html #mainbox .wrap {display:none; float:left; width: 823px; height: 451px; position:relative;}
.html #mainbox .wrap.active {display:block;}
.html #mainbox .imgbox {position:absolute; top:0; left:70px; height:375px; width:100%; margin:0 auto; overflow:hidden;}
.html #mainbox .imgbox img {max-height:375px; max-width:624px; margin:0 auto;}
.html #mainbox .vembed {height:375px; width:720px; margin:0 auto; }
.html #mainbox .takebox {position:absolute; bottom:-63px; left:89px; width:100%; text-align:center; height:84px;}
.html #mainbox .takebox .cat { display:none; }
.html #mainbox .takebox h2 { display: none; }
.html #mainbox .takebox p {display:none; margin:10px 10px 10px 20px; font-size:14px;}
.html #mainbox .sh { color:#5f4836; position: absolute; right: 0; z-index: 100;  }
.html #mainbox .sh a.shr {display:inline-block; margin:0 2px; width:13px; height:13px;}
.html #mainbox .sh a.tw {background-position:-256px 0;}
.html #mainbox .sh a.fb {background-position:-274px 0;}
.html #mainbox .sh a.em {background-position:-292px 0;}
.html #mainbox .sh a.my {display:none;}
.html #thbwrap {
	width: 765px; height: 137px; overflow:hidden; position:relative;
	margin-right: auto;
	margin-top: 15px;
	margin-left: 116px;
	padding-top: 20px;
}

.html #thumnav {width:945px; padding: 0 0 0 42px; margin:0 auto; height:24px; font-weight:bold;}
.html #thumnav li {
	float:left;
	display:block;
	margin:0 0 0 8px;
	text-indent: -5000px;
	background-image: url('sprite.png');
	cursor: pointer;
}
.html #thumnav li:nth-child(1) {
	width: 129px;
	height: 23px;
	background-position: 0 -570px;
}
.html #thumnav li:nth-child(2) {
	width: 136px;
	height: 23px;
	background-position: -143px -544px;
}

.html #thumnav li:nth-child(1).on, .html #thumnav li:nth-child(1):hover { background-position: 0 -544px;}
.html #thumnav li:nth-child(2).on, .html #thumnav li:nth-child(2):hover { background-position: -143px -570px; }

.html #thumnav li a {color:#fff; text-transform:uppercase; line-height:24px; font-size:11px; font-weight:normal;}

.html #dropwrap {position:relative; display:block; margin:0 20px;}
.html #currcat {display:block; padding:0 10px; margin:16px 0 0 0; background:#fb7000; color:#fff; text-transform:uppercase; line-height:24px; font-size:11px; font-weight:normal;}
.html #currcat i {display:inline-block; background:url('http://cfi.thismoment.com/images/dec/downarrow-white.png') no-repeat 0 0; line-height:10px; width:14px; height:10px; margin:0 0 0 5px;}
.html #thumnav.drop {width:100%; position:absolute; top:0; left:0; padding:0; display:none; background:#fff; z-index:15;}
.html #thumnav.drop li {width:100%; margin:0; padding:0;}

.html #thumbox, .html #thumbox_camilla {position:absolute; left:0; width:940px; margin:0;}
.html #thumbox li, .html #thumbox_camilla li {
	float:left;
	width: 192px;
	height: 125px;
	font-size: 11px;
	line-height: 11px;
}
.html #thumbox li .ttl, .html #thumbox_camilla li .ttl {
	display: block;
	width: 146px;
	height:  30px;
	margin-top: 8px;
	color: #4f4d48;
	font-weight: bold;
	white-space: nowrap;  
    text-overflow: ellipsis;
    overflow: hidden;   
}
.html #thumbox li .ebthumb, .html #thumbox_camilla li .ebthumb  {
	position: relative;
	float:left;
	display:block;
	/* for IE */
	filter:alpha(opacity=60);
	/* CSS3 standard */
	opacity:0.6;
}
.html #thumbox li .ebthumb.on, .html #thumbox_camilla li .ebthumb.on {
	/* for IE */
	filter:alpha(opacity=100);
	/* CSS3 standard */
	opacity:1.0;
}
.html #thumbox li .imgbox, .html #thumbox_camilla li .imgbox {
	display:block;
	width:150px;
	height: 100px;
	-moz-box-shadow: 3px 3px 3px #666;
	-webkit-box-shadow: 3px 3px 3px #666;
	box-shadow: 3px 3px 3px #666;
}
.html #thumbox li .controls, .html #thumbox_camilla li .controls { position: absolute; left:  0; top: 95px; width: 150px;}